#id_add_video {
    float: left;
}

#id_video_properties, #id_video_preview {
    float: left;
    margin-left: 5px;
}

#slider_border {
    width:  100%;
    height: 18px;
    border: 1px solid #000000;
    overflow: hidden;
}

#progress_bar {
    float: left;
    height: 18px;
    width: 0%;
    /*border-right: 1px solid #000000;*/
    background: #00FF00;
}

#loading_text {
    position: relative;
    top: -18px;
    font-weight: bold;
    left: 12px;
}


.kalvidres_thumbnail img {
	width: 15rem;
}



.kalvidres_thumbnail span {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  background: url("[[pix:mod_kalvidres|play-btn]]") no-repeat;
	  background-position: 50% 50%;
	  background-size: 300%;
}

@media screen and (min-width: 767px) {
	.kalvidres_thumbnail img {
		width: 20rem;
	}
}
@media (min-width: 1200px) {
	.kalvidres_thumbnail img {
		width: 25rem;
	}

	.kalvidres_thumbnail span {
		  background-size: 200%;
	}

}

.kalvidres_thumbnail a {
	float: left;
	position: relative;
}